<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.xy.fy.main" android:versionCode="1" android:versionName="1.1">

	<uses-sdk android:minSdkVersion="11" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.DELETE_PACKAGES" />
	<uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<application android:label="@string/app_name"
		android:allowBackup="true" android:icon="@drawable/default_head_photo"
		android:logo="@drawable/default_head_photo">
		<activity android:name="com.xy.fy.main.WelcomeActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.xy.fy.main.RegisterActivity" />
		<activity android:name="com.xy.fy.main.ForgetPasswordActivity" />
		<activity android:name="com.xy.fy.main.MainActivity"
			android:theme="@style/AnimActivityTheme" />
		<activity android:name="com.xy.fy.main.PublishMessage" />
		<activity android:name="com.xy.fy.main.PictureActivity" />
		<activity android:name="com.xy.fy.main.LoginActivity" 
			>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="www.xiyoumobile.com" android:port="80" android:path="/download/android/xiyouscoreandroid.apk"/>
			</intent-filter>
		</activity>
		
		<activity android:name="com.xy.fy.main.FriendRecommondActivity" 
			android:theme="@style/AnimActivityTheme" />
		<activity android:name="com.xy.fy.main.FriendApplyActivity" />
		
		<activity android:name="com.xy.fy.main.AddFriendListActivity"
			android:theme="@style/AnimActivityTheme" />
		<activity android:name="com.xy.fy.main.ShowScoreActivity"
			android:theme="@style/Transparent" />
		<!-- 放置软键盘自动弹出 -->
		<activity android:name="com.xy.fy.main.MessageDetailActivity"
			android:configChanges="keyboardHidden|orientation"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name="cn.sharesdk.framework.ShareSDKUIShell"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustResize" >
			<intent-filter>
				<data android:scheme="tencent100371282" />
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.xy.fy.main.wxapi.WXEntryActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:exported="true"
			android:screenOrientation="portrait" /> 
	</application>

</manifest>